version: '3.8'

services:
  app: 
    build:
      context: .
      dockerfile: .dockerfile
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    restart: always

  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env.postgres
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
